files:
  "/etc/systemd/system/celery.service":
    mode: "000644"
    owner: root
    group: root
    content: |
      [Unit]
      Description=Celery Service
      After=network.target

      [Service]
      Type=simple
      WorkingDirectory=/var/app/current
      ExecStart=/var/app/venv/*/bin/celery -A core worker -l INFO -Q ai-postprocessing
      Restart=always
      User=root

      [Install]
      WantedBy=multi-user.target

commands:
  enable_celery:
    command: "systemctl enable celery"
  start_celery:
    command: "systemctl start celery"
