option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:elbv2:listener:443:
    ListenerEnabled: true
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-west-2:ACCOUNT_ID:certificate/CERTIFICATE_ID
  aws:elbv2:listener:80:
    ListenerEnabled: true
    Protocol: HTTP
  aws:elasticbeanstalk:application:environment:
    SECURE_SSL_REDIRECT: "true"
    SESSION_COOKIE_SECURE: "true"
    CSRF_COOKIE_SECURE: "true"
    SECURE_HSTS_SECONDS: "31536000"
    SECURE_HSTS_INCLUDE_SUBDOMAINS: "true"
    DEBUG: "false"
