option_settings:
  aws:elasticbeanstalk:sqsd:
    HttpPath: /events/webhook/
    MimeType: application/json
    HttpConnections: 20
    ConnectTimeout: 5s
    InactivityTimeout: 180s
    VisibilityTimeout: 300s
    RetentionPeriod: 345600s

container_commands:
  01_disable_web_service:
    command: |
      systemctl disable web.service || true
      systemctl stop web.service || true
    ignoreErrors: true
