option_settings:
  aws:elasticbeanstalk:sqsd:
    HttpPath: /events/webhook/
    MimeType: application/json
    HttpConnections: 20
    ConnectTimeout: 5
    InactivityTimeout: 180
    VisibilityTimeout: 300
    RetentionPeriod: 345600

container_commands:
  01_disable_web_service:
    command: |
      systemctl disable web.service || true
      systemctl stop web.service || true
    ignoreErrors: true
