option_settings:
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 2
  aws:elbv2:listener:80:
    ListenerEnabled: true
    Protocol: HTTP
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "core.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    DEBUG: "false"
    SECURE_SSL_REDIRECT: "false"  # Será true após configurar SSL
    SESSION_COOKIE_SECURE: "false"  # Será true após configurar SSL
    CSRF_COOKIE_SECURE: "false"  # Será true após configurar SSL
