option_settings:
  aws:elasticbeanstalk:application:environment:
    CELERY_BROKER_URL: "redis://localhost:6379/0"
    CELERY_RESULT_BACKEND: "redis://localhost:6379/0"

packages:
  yum:
    redis: []

services:
  sysvinit:
    redis:
      enabled: true
      ensureRunning: true

commands:
  01_install_redis:
    command: "amazon-linux-extras install redis4.0 -y"
    ignoreErrors: true
